extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="", method="post")
    label(for="text") Text: 
    input(type="text", name="text" id="text") 
    label(for="user") User 
    input(type="text", name="user" id="user") 
    button(type="submit") Submit
    
  if messages
    each msg in messages 
      h2= msg.text
      p= msg.user 
      p= msg.added